body {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #808294;
  -webkit-font-smoothing: antialiased;
  background: #f8f8fb;
}
.body-bg {
  background-color: #fbfbfc;
}

p {
  margin: 0px 0px 24px 0px;
}
p:last-child {
  margin: 0px;
}
a {
  color: #3544ee;
}
a:hover {
  color: #202db8;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

a.text-primary:focus,
a.text-primary:hover {
  color: #202db8 !important;
}
ol,
ul {
}
ol li,
ul li {
}
.lead {
  font-size: 21px;
  line-height: 32px;
  color: #181825;
}
.z-index-0 {
  z-index: 0;
}
::selection {
  background: rgba(255, 244, 147, 0.8);
  color: #272c30;
}
.btn {
  font-size: 16px;
  padding: 11px 21px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  transition: 0.3s ease;
}
/*--- btn default --*/
.btn-brand {
  color: #fff;
  background-color: #000;
  border-color: #000;
}
.btn-brand:hover {
  color: #fff;
  background-color: #08b072;
  border-color: #08b072;
}
.btn-brand.focus,
.btn-brand:focus {
  color: #fff;
  background-color: #08b072;
  border-color: #08b072;
  box-shadow: none;
}
/*----------------- 7. Headers ---------------------------------*/
.header-classic {
  background-color: #fff;
}
/* -------------------- Top Header --------------------*/
.top-header {
  background-color: #fff;
  font-size: 14px;
  color: #626582;
  line-height: 30px;
  border-bottom: 1px solid #f0f1f9;
  border-top: 3px solid #3544ee;
  padding-bottom: 4px;
  padding-top: 4px;
}
.top-header ul {
  margin-bottom: 0px;
}
.top-header ul li {
  float: left;
  margin-left: 18px;
}
.top-header ul li a {
  color: #626582;
}
.top-header i {
  font-size: 10px;
}
.top-header-social {
}
.top-header-social i {
  font-size: 14px;
}
.top-header-social ul {
  margin-left: 10px;
}
.top-header-social ul li {
  float: left;
  margin-left: 8px;
}
.top-header-social ul li a {
  color: #9d9ea7;
}
.top-header-social ul li a:hover {
  color: #01d486;
}
/*-------------------------------------------------------------------8. Navigations-------------------------------------------------------------------*/
/*-------------------- Navigation classic ---------------------*/
.navbar-classic {
}
.navbar-classic.navbar-light .navbar-nav .nav-link {
  color: #181825;

  padding: 12px 16px;
}
.navbar-classic .navbar-nav .nav-item {
}
.navbar-classic .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  color: #181825;
  padding: 12px 10px;
  line-height: 20px;
  border-bottom: 1px solid #fff;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover {
  color: #3544ee;
}
.navbar-classic .navbar-nav .nav-item .nav-link:hover.dropdown-toggle::after {
  color: #3544ee;
}
.navbar-classic.navbar {
  padding: 18px 0px;
}
.navbar-classic .dropdown-toggle::after {
  margin-top: 1px;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 6px;
  vertical-align: -2px;
  content: "\f107";
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  color: #bdbebf;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  margin-right: 15px;
  font-size: 13px;
  float: right;
}
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu .dropdown-item {
  border-bottom: 1px solid #f1f1f6;
  border-radius: 0px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 2px;
  margin-right: initial;
  line-height: inherit;
  white-space: nowrap;
  color: #181825;
  font-size: 24px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 16rem;
  padding: 12px;
  margin: 18px 0px;
  font-size: 1rem;
  color: #808294;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.09);
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 15px 15px;
  clear: both;
  font-weight: 400;
  color: #181825;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 15px;
  line-height: 15px;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #4955ef;
  text-decoration: none;
  background-color: #eeeffd;
  border-radius: 4px;
}
.dropdown-item:focus .dropdown-toggle::after,
.dropdown-item:hover.dropdown-toggle::after {
  color: #4955ef;
}
@media (min-width: 992px) {
  .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
  .dropdown-submenu:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 17px;
  top: 25px;
}
.dropdown-submenu .dropdown-menu {
  top: 0px;
  left: 100%;
  margin-left: 13px;
  margin-right: 0.1rem;
}
.caret-up {
  width: 0;
  height: 0;
  border-left: 4px solid rgba(0, 0, 0, 0);
  border-right: 4px solid rgba(0, 0, 0, 0);
  border-bottom: 4px solid;
  display: inline-block;
  margin-left: 2px;
  vertical-align: middle;
}
.mega-dropdown {
  position: unset;
}
.mega-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 63px;
  margin: 15px 0px;
}
.mega-dropdown-menu ul {
  list-style: none;
}
.nav-dropitem-arrow {
  position: relative;
  font-size: 12px;
  opacity: 0;
  padding-right: 10px;
}
.nav-dropitem-arrow i {
  position: absolute;
  /* top: -1px;
	*/
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #3544ee;
  text-decoration: none;
  background-color: #eeeffd;
  border-radius: 4px;
}
.dropdown-item:hover .nav-dropitem-arrow {
  color: #4955ef;
  opacity: 1;
  margin-right: 5px;
}
.navbar-classic .navbar-toggler,
.navbar-boxed .navbar-toggler {
  padding: 17px 15px;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #eaeaf0;
  border-radius: 0.25rem;
  position: relative;
}
/* mobile menu css */
.navbar-classic .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
.navbar-classic .navbar-collapse.show .navbar-nav .nav-item .nav-link {
  border-bottom: 1px solid #f1f1f6;
}
.navbar-classic
  .navbar-collapse.show
  .dropdown
  .dropdown-menu
  .dropdown-submenu.dropdown-item {
  border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
.navbar-boxed .navbar-collapse.show .navbar-nav .nav-item .nav-link {
  border-bottom: 1px solid #f1f1f6;
}
.navbar-boxed
  .navbar-collapse.show
  .dropdown
  .dropdown-menu
  .dropdown-submenu.dropdown-item {
  border-bottom: 1px solid #f1f1f6;
}
.navbar-transparent .navbar-collapse.show .dropdown .dropdown-menu {
  background: #fff;
  box-shadow: none;
  margin: 7px 0px;
}
.navbar-transparent .navbar-collapse.show .navbar-nav .nav-item .nav-link {
  border-bottom: 1px solid #495bfb;
}
.navbar-transparent
  .navbar-collapse.show
  .dropdown
  .dropdown-menu
  .dropdown-submenu.dropdown-item {
  border-bottom: 1px solid #f1f1f6;
}
.icon-bar {
  width: 21px;
  height: 3px;
  background-color: #3544ee;
  display: block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 4px;
}
.navbar-toggler:focus {
  outline: 0px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 190%;
  background-color: #3544ee;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% -80%;
  background-color: #3544ee;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
  background-color: #3544ee;
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  background-color: #3544ee;
}
